/* Estilos personalizados con Keyframes para header */
@keyframes diamond-in-center {
    from {
      clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
    }
    to {
      clip-path: polygon(-50% 50%, 50% -50%, 150% 50%, 50% 150%);
    }
  }
  
  /* Aplicar animación a elementos con la clase específica */
  .wp-block-uagb-container.uagb-block-36d4d4eb.alignfull.uagb-is-root-container {
    animation: 1.5s cubic-bezier(.25, 1, .30, 1) diamond-in-center both;
  }
  